.merch-section {
  min-height: 110vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-divider);
}

.merch__header-container {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.merch__header {
  font-size: var(--font-size-x-large);
  color: var(--font-color-main);
  text-align: center;
  width: 33%;
}

.merch__header:hover {
  cursor: default;
  color: var(--font-color-secondary);
}

.merch__header--search-container {
  width: 33%;
}

.merch__container {
  height: 90vh;
  width: 100%;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem 10rem;
}

.merch__card {
  background-color: var(--background-color-divider);
  height: 19rem;
  width: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: var(--border-radius);
}

.merch__card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.495);
  color: var(--font-color-secondary);
}
.merch__image {
  height: 75%;
  width: 85%;
  border-radius: var(--border-radius);
}

.merch__price {
  color: var(--font-color-main);
  opacity: 0.8;
  font-size: var(--font-size-x-large);
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

.merch__price:hover {
  color: var(--font-color-secondary);
}

.hidden-card {
  display: none;
}

.active-card {
  height: 34rem;
  width: 30rem;
  z-index: 2;

  position: absolute;

  color: var(--font-color-main);
  box-shadow: 10px 10px 20px black;
  background-image: var(--background-image);
  background-size: var(--background-size);
  border: 1px dotted white;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.active-card h3 {
  font-size: var(--font-size-x-large);
}
.active-card img {
  height: 60%;
  width: 60%;
  border-radius: var(--border-radius);
}

.active-card p {
  font-size: var(--font-size-large);
}

.active-card select {
  width: 50%;
  text-align: center;
}

.active-card input {
  padding-left: var(--spacing-small);
}

.active-card button {
  width: 25%;
  cursor: pointer;
  border: 2px solid white;

  background-color: transparent;
  color: var(--font-color-main);
  border-radius: var(--border-radius);
}

.active-card button:hover {
  background-color: white;
  color: black;
}
